<h1>📦 Controle de Estoque</h1>

<div class="container-formulario">
  <h2>Novo Equipamento</h2>
  
  <input type="text" placeholder="Nome do Equipamento" [(ngModel)]="novoEquipamento.nome">
  
  <input type="text" placeholder="Categoria (ex: TI, Móveis)" [(ngModel)]="novoEquipamento.categoria">

  <label class="label-status">Status Atual:</label>
  <select [(ngModel)]="novoEquipamento.status">
      <option value="Disponível">🟢 Disponível</option>
      <option value="Em Uso">🔵 Em Uso</option> 
      <option value="Indisponível">🔴 Indisponível</option>
  </select>

  <button class="btn-salvar" (click)="salvar()">
    Salvar Dados
  </button>
</div>

<h3 style="text-align: center; color: #a8a8b3; margin-top: 40px; margin-bottom: 20px;">
  Inventário Atual
</h3>

<div class="lista-items">

  <div *ngFor="let item of equipamentos" class="item-card">
    
    <div class="info">
      <strong>{{ item.nome }}</strong>
      <span>{{ item.categoria }}</span> <br>
      
      <small class="status-badge" 
             [ngClass]="{
               'verde': item.status === 'Disponível',
               'azul': item.status === 'Em Uso',
               'vermelho': item.status === 'Indisponível'
             }">
        {{ item.status }}
      </small>
    </div>

    <div class="botoes">
      <button class="btn-editar" (click)="aoClicarEmEditar(item)">
        Editar ✏️
      </button>

      <button class="btn-excluir" (click)="remover(item.id)">
        Excluir 🗑️
      </button>
    </div>

  </div>
</div>