.hero-container {
  height: 100vh; /* Tela inteira */
  background: linear-gradient(135deg, #09090b 0%, #121214 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
}

h1 {
  font-size: 4rem;
  margin-bottom: 10px;
  font-weight: 800;
  letter-spacing: -2px;
}

.destaque {
  color: var(--accent-color); /* Roxo do seu tema */
  text-shadow: 0 0 20px rgba(130, 87, 230, 0.5);
}

.subtitle {
  font-size: 1.2rem;
  color: #a8a8b3;
  margin-bottom: 40px;
}

.features {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 50px;
}

.feat {
  background: rgba(255,255,255,0.05);
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 0.9rem;
  border: 1px solid #323238;
}

.btn-enter {
  background: var(--accent-color);
  color: white;
  padding: 18px 50px;
  font-size: 1.2rem;
  font-weight: bold;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
  text-decoration: none;
}

.btn-enter:hover {
  transform: scale(1.05);
  box-shadow: 0 0 30px rgba(130, 87, 230, 0.6);
}